﻿@model IEnumerable<Paynetics.Models.Models.Partner>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h2>All Partners</h2>

<p>
    <a class="nav-link text-dark" asp-controller="Partner" asp-action="Create">Create New Partner</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.ActionLink("Update | ", "Update", new { partnerId = item.Id })

                    @Html.ActionLink("Details | ", "Details", new { partnerId = item.Id })

                    @Html.ActionLink("Delete | ", "Delete", new { partnerId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>