﻿@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Paynetics Web Application!</h1>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                <a class="text-dark" asp-controller="Partner" asp-action="Index">Go to Partners Page</a>
            </li>
            <li>
                <a class="text-dark" asp-controller="Merchant" asp-action="Index">Go to Merchants Page</a>
            </li>
            <li>
                <a class="text-dark" asp-controller="Transaction" asp-action="Index">Go to Transactions Page</a>
            </li>
            <li>
                <a class="text-dark" asp-controller="Xml" asp-action="Index">Go to Upload XML Structured File Page</a>
            </li>
        }
    }
</div>
