﻿@model Paynetics.Models.Models.Transaction
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h2>
    Current Transaction Created Date - @Model.CreateDate
</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExternalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debtor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.ExternalId
            </td>
            <td>
                @Model.CreateDate
            </td>
            <td>
                @Model.Amount
            </td>
            <td>
                @Model.Status
            </td>
            <td>
                @Model.Debtor
            </td>
            <td>
                @Model.Beneficiary
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>