﻿@model IEnumerable<Paynetics.Models.Models.Transaction>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h2>All Transactions</h2>

<p>
    <a class="nav-link text-dark" asp-controller="Transaction" asp-action="Create">Create New Transaction</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExternalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExternalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Update | ", "Update", new { transactionId = item.Id })

                    @Html.ActionLink("Details | ", "Details", new { transactionId = item.Id })

                    @Html.ActionLink("Delete | ", "Delete", new { transactionId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>