﻿@model Paynetics.Models.Models.Merchant
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h2>
    Current Merchant - @Model.Name
</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoardingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondAddress)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.BoardingDate
            </td>
            <td>
                @Model.Url
            </td>
            <td>
                @Model.Country
            </td>
            <td>
                @Model.FirstAddress
            </td>
            <td>
                @Model.SecondAddress
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>