﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h2>Upload Xml File Here!</h2>
<form asp-controller="Xml" asp-action="Upload" enctype="multipart/form-data">
    <label for="myfile">Select a file:</label>
    <input type="file" id="file" name="file" />
    <button asp-controller="Xml" asp-action="Upload" class="btn btn-primary">Upload</button>
</form>
<br />
<br />
<br />
<br />
<h2>Export transactions in .csc file for current date!</h2>
<form asp-controller="Xml" asp-action="ExportCsv">
    <label for="start">Start date:</label>
    <input type="datetime-local" id="date" name="date" data-provide="datepicker" class="datepicker">
    <button asp-controller="Xml" asp-action="ExportCsv" class="btn btn-primary">CSV</button>
</form>

@*<script>
        var button = document.querySelectorAll('.btn').forEach(el =>
            el.addEventListener('click', function () {
                var loader = document.querySelector('.spinner-border');
                document.querySelectorAll('.datepicker').forEach(function (element) {
                    element.disabled = true;
                })

                var date = new Date();
                date = document.querySelector('#date').value;
                var url = this.getAttribute('data-export-csv-url');

                var data = new FormData();

                data.append('date', date);

                $.ajax({
                    url: url,
                    data: data,
                    dataType: "json",
                    type: "GET",
                    contentType: false,
                    processData: false,
                    traditional: true
                });

                document.querySelectorAll('.datepicker').forEach(function (element) {
                    element.disabled = false;
                });

                document.querySelectorAll('.button').forEach(function (button) {
                    button.disabled = false;
                });

            }, false));
</script>*@